﻿@model IEnumerable<WebApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm())
{
    <p style="text-align:left;position:fixed">
        <input class="form-control" type="text" name="Search" placeholder="Search" aria-label="Search"
               style="width:250px" autocomplete="off">
        </p>
        <p style="text-align:right">
            <a asp-action="Create" class="btn btn-danger">Create New</a>
            </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
